<div class="message-row">
  <div class="message">

    <p class="text"><span class="author">{{ author }}</span> {{ created_at | date: 'dd-MM-YYYY hh:mm' }} Auction has been started  </p>
  </div>
</div>
