.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-button {
  background: rgba(255, 170, 0, 0.76);
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.account-icon {
  display: flex;
  align-items: center;
}
.account-icon span {
  font-size: 16px;
  margin-right: 10px;
}

.footer {
  position:relative;
  bottom: 0px;
  padding: 30px 0;
  background: rgba(255, 170, 0, 0.76);
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 60px;

  .card {
    box-shadow: none;
    border: none;
    background: transparent;
    max-width: 30%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
