<div class="app-wrapper">
  <mat-toolbar color="primary">
    <button class="menu-button account-icon" mat-icon-button routerLink="/">
      <span> Auction</span>
    </button>
    <span class="example-spacer"></span>
    <button
      class="menu-button account-icon"
      mat-icon-button
      routerLink="/login"
      *ngIf="(currentAccount$ | async) === null">
      <span>login</span>
    </button>
    <span *ngIf="(currentAccount$ | async) === null"> / </span>
    <button
      class="menu-button account-icon"
      mat-icon-button
      routerLink="/register"
      *ngIf="(currentAccount$ | async) == null">
      <span>sign-up</span>
    </button>
    <button
      class="menu-button account-icon"
      mat-icon-button
      (click)="toCompanyPage()"
      *ngIf="(currentAccount$ | async) !== null">
      <span> {{ (currentAccount$ | async)?.name }}</span>
      <mat-icon>person</mat-icon>
    </button>
    <button
      class="menu-button account-icon"
      mat-icon-button
      routerLink="/"
      *ngIf="(currentAccount$ | async) !== null"
      (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <router-outlet></router-outlet>

  <span class="example-spacer"></span>
  <div class="footer">
    <mat-card class="card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
