.spinner-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-form-field {
  display: block;
  width: 100%;
}

.width50 {
  width: 48%;
  float: left;
  margin:  0 1%;
}

.width100 {
  width: 98%;
  float: left;
  margin:  0 1%;
}


mat-dialog-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 100%;
  }
}

mat-dialog-actions {
  justify-content: space-around;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.form-buttons {
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;

  .spacer {
    flex: 1 1 auto;
  }
}
