<app-server-auction-notification></app-server-auction-notification>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="auctionForm">
    <form [formGroup]="auctionForm">
      <ng-template matStepLabel>Auction information</ng-template>
        <mat-form-field class="width50">
          <mat-label>Auction name</mat-label>
          <input
            matInput
            placeholder="name of auction"
            formControlName="name"
            required />
        </mat-form-field>
        <mat-form-field class="width50">
          <mat-label>Auction type</mat-label>
          <mat-select
            [(ngModel)]="selectedAuctionType"
            formControlName="type"
            required
            name="type">
            <mat-option *ngFor="let type of auctionType" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field class="width50">
        <mat-label>Choose planed start date</mat-label>
        <input
          formControlName="planned_start"
          matInput
          [matDatepicker]="picker1" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="width50">
        <mat-label>Choose planed end date</mat-label>
        <input
          formControlName="planned_end"
          matInput
          [matDatepicker]="picker2" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="width100">
        <mat-label>description</mat-label>
        <textarea
          class="textarea"
          matInput
          #message
          maxlength="1024"
          placeholder="description"
          formControlName="description">
        </textarea>
        <mat-hint align="end">{{ message.value.length }} / 1024</mat-hint>
      </mat-form-field>
      <div class="form-buttons width100">
        <button
          mat-button
          matStepperNext
          color="primary"
          [disabled]="!auctionForm?.valid || (this.loading$ | async)"
          (click)="update()">
          Next
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="onClose()" color="accent">Close</button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="auctionObjectForm">
    <form [formGroup]="auctionObjectForm">
      <ng-template matStepLabel>Object information</ng-template>
      <mat-form-field class="width50">
        <mat-label>Object name</mat-label>
        <input
          matInput
          formControlName="object_name"
          placeholder="Object name" />
      </mat-form-field>

      <mat-form-field class="width50">
        <mat-label>Desired price</mat-label>
        <input
          type="number"
          matInput
          formControlName="desired_price"
          placeholder="Desired price"
          required />
      </mat-form-field>

      <mat-form-field class="width50">
        <mat-label>Min price</mat-label>
        <input
          type="number"
          matInput
          formControlName="min_price"
          placeholder="Min price"
          required />
      </mat-form-field>

      <mat-form-field class="width50">
        <mat-label>Max price</mat-label>
        <input
          type="number"
          matInput
          formControlName="max_price"
          placeholder="Max price"
          required />
      </mat-form-field>

      <mat-form-field class="width100">
        <mat-label>Object description</mat-label>
        <textarea
          class="textarea"
          matInput
          #message
          maxlength="1024"
          placeholder="description"
          formControlName="object_info">
        </textarea>
        <mat-hint align="end">{{ message.value.length }} / 1024</mat-hint>
      </mat-form-field>

      <div class="form-buttons width100">
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button
          mat-button matStepperNext
          color="primary"
          (click)="update()"
          [disabled]="!auctionObjectForm?.valid"
          >
          Next
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="onClose()" color="accent">Close</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="auctionAdditionalInfoForm">
    <form [formGroup]="auctionAdditionalInfoForm">
      <ng-template matStepLabel>Additional information</ng-template>

      <mat-form-field>
        <mat-label>Additional nformation</mat-label>
        <textarea
          class="textarea"
          matInput
          #message
          maxlength="1024"
          placeholder="description"
          formControlName="additional_info">
        </textarea>
        <mat-hint align="end">{{ message.value.length }} / 1024</mat-hint>
      </mat-form-field>

      <hr />
      <div class="buttons">
        <button type="button" mat-button (click)="fileInput1.click()">
          Choose main picture
        </button>
        <input
          hidden
          (change)="onPictureSelected('main_photo')"
          #fileInput1
          type="file"
          id="main_photo" />
        <button mat-button color="primary" (click)="onPictureSubmit()">
          Load to server
        </button>
      </div>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Main auction picture URL</mat-label>
        <input matInput formControlName="main_photo" />
      </mat-form-field>

      <hr />
      <div class="buttons" >
        <button type="button" mat-button (click)="fileInput2.click()">
          Choose main auction object picture
        </button>
        <input
          hidden
          (change)="onPictureSelected('object_photo_1')"
          #fileInput2
          type="file"
          id="object_photo_1" />
        <button mat-button color="primary" (click)="onPictureSubmit()">
          Load to server
        </button>
      </div>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Main auction object picture URL</mat-label>
        <input matInput formControlName="object_photo_1" />
      </mat-form-field>

      <hr />
      <div class="buttons">
        <button type="button" mat-button (click)="fileInput3.click()">
          Choose additional auction object picture
        </button>
        <input
          hidden
          (change)="onPictureSelected('object_photo_2')"
          #fileInput3
          type="file"
          id="object_photo_2" />
        <button mat-button color="primary" (click)="onPictureSubmit()">
          Load to server
        </button>
      </div>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Main auction object picture URL</mat-label>
        <input matInput formControlName="object_photo_2" />
      </mat-form-field>
      <hr />

      <div class="form-buttons">
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button
          mat-button
          matStepperNext
          color="primary"
          (click)="update('close')"
        >
          Save
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="onClose()" color="accent">Close</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
