<div class="chat-page-container">
  <mat-tab-group>
    <mat-tab label="Auction_details">
      <app-chat-details
        [chat]="chat$ | async"
        (startAuctionMessage)="onStartAuctionMessage($event)"
        (stopAuctionMessage)="onStopAuctionMessage($event)"
        [newMessage]="newMessage$ | async"
      ></app-chat-details>
    </mat-tab>
    <mat-tab label="Auction_actions">
      <ng-container *ngIf="chat$ | async as currentChat">
        <app-chat
          [chat]="currentChat"
          [currentChatMemberId]="currentChat?.current_chat_member?.id"
          [chatMessages]="currentChat.chat_messages"
          [newMessage]="newMessage$ | async"
          (createdMessage)="onNewMessage($event)"
          (joinToChat)="onJoinToChat($event)"
          (newBetMessage)="onBetMessage($event)">
        </app-chat>
        <div></div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
