<div class="chat" *ngIf="chat">
  <div #messagesContainer class="messages">
    <ng-template #chatMessageWithAuthorTemplate let-message>
      <app-chat-message
        [text_value]="message.text_content"
        [author]="message.message_author"
        [author_id]="message.message_author_id"
        [current_participant]="currentChatMemberId">
      </app-chat-message>
    </ng-template>

    <ng-template #chatMemberTemplate let-message>
      <app-chat-message-new-member
        [text_value]="message.text_content"
        [author]="message.message_author"
        [created_at]="message.created_at">
      </app-chat-message-new-member>
    </ng-template>

    <ng-template #chatStartTemplate let-message>
      <app-chat-message-start
        [text_value]="message.text_content"
        [author]="message.message_author"
        [created_at]="message.created_at">
      </app-chat-message-start>
    </ng-template>

    <ng-template #chatBetTemplate let-message>
      <app-chat-message-bet
        [text_value]="message.text_content"
        [author]="message.message_author"
        [created_at]="message.created_at">
      </app-chat-message-bet>
    </ng-template>

    <ng-template #chatStopTemplate let-message>
      <app-chat-message-stop
        [text_value]="message.text_content"
        [author]="message.message_author"
        [created_at]="message.created_at">
      </app-chat-message-stop>
    </ng-template>

    <span *ngFor="let message of chatMessages">
      <ng-container [ngSwitch]="message.type">
        <ng-container *ngSwitchCase="'message'">
          <ng-template
            [ngTemplateOutlet]="chatMessageWithAuthorTemplate"
            [ngTemplateOutletContext]="{ $implicit: message }"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'new member'">
          <ng-template
            [ngTemplateOutlet]="chatMemberTemplate"
            [ngTemplateOutletContext]="{ $implicit: message }"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'start auction'">
          <ng-template
            [ngTemplateOutlet]="chatStartTemplate"
            [ngTemplateOutletContext]="{ $implicit: message }"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'stop auction'">
          <ng-template
            [ngTemplateOutlet]="chatStopTemplate"
            [ngTemplateOutletContext]="{ $implicit: message }"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'bet message'">
          <ng-template
            [ngTemplateOutlet]="chatBetTemplate"
            [ngTemplateOutletContext]="{ $implicit: message }"></ng-template>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <ng-template
            [ngTemplateOutlet]="chatMemberTemplate"
            [ngTemplateOutletContext]="{ $implicit: message }"></ng-template>
        </ng-container>
      </ng-container>
    </span>
  </div>

  <div class="buttons-join">
    <button
      *ngIf="!currentChatMemberId"
      mat-raised-button
      color="primary"
      (click)="onJoinToChat()">
      Join to Auction
    </button>
  </div>

  <div class="buttons">
    <form [formGroup]="form" class="login-form">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="message"
          formControlName="message" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onSendMessage()"
        [disabled]="!form.valid || !currentChatMemberId">
        Send
      </button>
    </form>

    <form [formGroup]="formBet" class="login-form">
      <mat-form-field>
        <input matInput type="text" placeholder="120" formControlName="bet" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onSendBetMessage()"
        [disabled]="
          !formBet.valid ||
          !currentChatMemberId ||
          chat.auction.status !== 'started'
        ">
        Bet
      </button>
    </form>
  </div>

</div>
