h3 {
  padding: 0px;
  padding-top: -10px;
  margin: 0px;
}

.chat {
  margin: 15px;
}

.messages {
  background-color: rgb(236, 236, 236);
  height: 70vh;
  overflow-y: scroll;
  scrollbar-color: lightgrey darkgrey;
  scrollbar-width: thin;

  .message {
    background-color: #c9eaff;

    .message-left {
      text-align: left;
    }

    .message-right {
      text-align: right;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  margin: 5px;
  button {
    margin: 5px;
  }
}
.buttons-join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  margin: 5px;
  button {
    margin: 5px;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
}

.spinner-container {
  margin-top: 100px;
}
