<div class="auction-list-container">
  <mat-card *ngFor="let auction of auctions" class="card">
    <mat-card-header class="header">
      <mat-card-title>{{ auction.name }}</mat-card-title>
      <mat-card-subtitle>{{ auction.created_by.name }}</mat-card-subtitle>
    </mat-card-header>
    <img
      *ngIf="auction.main_photo"
      class="question-card-img"
      mat-card-image
      [src]="auction.main_photo" />
    <img
      *ngIf="!auction.main_photo && auction.type === 'English'"
      class="question-card-img"
      mat-card-image
      src="https://iurii-canad-nestjs-projects.s3.ca-central-1.amazonaws.com/auction/proj-plan-app/ed0bf73a-fd33-437c-9cd2-2384ac7edfd5/ed60b990-cb42-11e9-a833-4fe99c887177-selling_a_house_at_auction_vs_for_sale_by_owner_vs_a_traditional_agent-ogid-124804-2f445fae-5997-43d4-8d90-9124c4018bc6.jpg" />
    <img
      *ngIf="!auction.main_photo && auction.type === 'Dutch'"
      class="question-card-img"
      mat-card-image
      src="https://iurii-canad-nestjs-projects.s3.ca-central-1.amazonaws.com/auction/proj-plan-app/ed0bf73a-fd33-437c-9cd2-2384ac7edfd5/wwwww-e4d33659-1d1e-4723-bfe2-1084521320ca.jpg" />
    <mat-card-content>
      <p>planned end: {{ auction.planned_end | date: 'dd-MM-YYYY hh:mm' }}</p>
      <p>status: {{ auction.status }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="navigateToAuction(auction.chats[0].id)">
        DETAIS
      </button>
    </mat-card-actions>
  </mat-card>
</div>
