.auction-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 26px;

  .card {
    width: 23%;
    margin: 1%;
  }

  .header {
    margin: 6px;
  }
}
