.message-row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: flex-end;

  .message {
    background: #ffe8c4;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
    order: 1;

    .author {
      font-style: italic;
    }

    .text {
      font-weight: bolder;
    }

    p {
      margin: 2px 5px;
    }
  }

  .message-owner {
    background: #bad6ba;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
  }
}

.start {
  justify-content: flex-start;
}
