<div class="message-row" [ngClass]="{'start': author_id === current_participant}">
  <div class="message"
    [ngClass]="{'message-owner': author_id === current_participant}">
    <p class="author">{{ author }}</p>
    <p class="text">{{ text_value }}</p>
  </div>
</div>
