<div class="company-container" *ngIf="company$ | async as company">
  <img mat-card-avatar [src]="company.logo" alt="Company Logo" />
  <hr />
  <h3>name: {{ company.name }}</h3>
  <p>email: {{ company.email }}</p>
  <p>type: {{ company.type }}</p>
  <p>since: {{ company.created_at | date }}</p>
  <p>info: {{ company.description }}</p>
  <hr />
  <p>photos:</p>
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <hr />
  <p>files:</p>
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
</div>
