<div class="message-row">
  <div class="message">

    <p class="text">{{ created_at | date: 'dd-MM-YYYY hh:mm' }} | {{ text_value }} | say hello to: <span class="author">{{ author }}</span></p>
  </div>
</div>
