<mat-form-field subscriptSizing="dynamic" class="search-form-field">
  <mat-label>Search</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="value"
    (input)="onInputChange($event)" />
  <button
    *ngIf="value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onClearButtonClicked()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
