<div class="message-row">
  <div class="message">

    <p class="text"><span class="author">Bet from ------> {{ author }}</span> | {{ created_at | date: 'dd-MM-YYYY hh:mm'}} | <span class="value">{{text_value }}</span>   </p>
  </div>
</div>
