.message-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 100%;

  .message {
    background: #ffb600;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    min-width: 95%;
    align-content: center;

    .author {
      font-style: italic;
      font-size: 20px;
    }



    p {
      margin: 2px 5px
    }
  }

  .value {
    font-weight: bold;
    font-size: 25px;
    color: #ea007a;
  }
}
