<mat-form-field subscriptSizing="dynamic">
  <mat-label>{{ toppingName }}</mat-label>
  <mat-select [formControl]="toppings" multiple (closed)="onClosed()">
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
      topping
    }}</mat-option>
  </mat-select>
</mat-form-field>
