
<ng-container *ngIf="chat"><hr />

<div class="chat-details-container">
  <div class="left-column">
    <p>auction name: {{ chat.auction.name }}</p>
    <p>status: {{ chat.auction.status }}</p>
    <p>planned start: {{ chat.auction.planned_start | date:"MM-dd-YYYY" }}</p>
    <p>started at: {{ chat.auction.started_at  | date:"MM-dd-YYYY"}}</p>
    <p>planned end: {{ chat.auction.planned_end  | date:"MM-dd-YYYY" }}</p>
    <p>completed at: {{ chat.auction.completed_at | date:"MM-dd-YYYY"}}</p>
    <p>min price: {{ chat.auction.min_price | currency:"CAD"}}</p>
    <p>max price: {{ chat.auction.max_price | currency:"CAD"}}</p>
    <p>desired price: {{ chat.auction.desired_price | currency:"CAD"}}</p>
  </div>
  <div class="right-column">
    <img
      *ngIf="chat.auction.main_photo"
      class="question-card-img"
      mat-card-image
      [src]="chat.auction.main_photo" />
    <img
      *ngIf="!chat.auction.main_photo && chat.auction.type === 'English'"
      class="question-card-img"
      mat-card-image
      src="https://iurii-canad-nestjs-projects.s3.ca-central-1.amazonaws.com/auction/proj-plan-app/ed0bf73a-fd33-437c-9cd2-2384ac7edfd5/ed60b990-cb42-11e9-a833-4fe99c887177-selling_a_house_at_auction_vs_for_sale_by_owner_vs_a_traditional_agent-ogid-124804-2f445fae-5997-43d4-8d90-9124c4018bc6.jpg" />
    <img
      *ngIf="!chat.auction.main_photo && chat.auction.type === 'Dutch'"
      class="question-card-img"
      mat-card-image
      src="https://iurii-canad-nestjs-projects.s3.ca-central-1.amazonaws.com/auction/proj-plan-app/ed0bf73a-fd33-437c-9cd2-2384ac7edfd5/wwwww-e4d33659-1d1e-4723-bfe2-1084521320ca.jpg" />
  </div>
</div>
<div class="chat-details-row">
  <div>
    <p>auction description: {{ chat.auction.description }}</p>
  </div>
</div>

<hr />
  <div class="chat-details-row" *ngIf="chat.is_auction_owner && chat.auction.status === 'created'">
    <button
      mat-raised-button
      color="primary"
      (click)="startAuction()">
      Start Auction
    </button>
  </div>

  <div class="chat-details-row" *ngIf="chat.is_auction_owner && chat.auction.status === 'started'">
    <button
      mat-raised-button
      color="accent"
      (click)="stopAuction()">
      Stop Auction
    </button>
  </div>

  <div class="chat-details-row" *ngIf="chat.auction.status === 'finished'">
    <h2 class="finished">Auction Completed</h2>
  </div>
<hr />
<div class="chat-details-row">
  <h3>object details:</h3>
  <div>
    <p>name: {{ chat.auction.object_name }}</p>
    <p>description: {{ chat.auction.object_info }}</p>
  </div>
</div>

<div class="chat-details-container">
  <div class="right-column">
    <img
      *ngIf="chat.auction.object_photo_1"
      class="question-card-img"
      mat-card-image
      [src]="chat.auction.object_photo_1" />
  </div>
  <div class="left-column">
    <img
      *ngIf="chat.auction.object_photo_2"
      class="question-card-img"
      mat-card-image
      [src]="chat.auction.object_photo_2" />
  </div>
</div>

<hr />
<div class="chat-details-row">
  <h3>auction participants:</h3>
  <p *ngFor="let member of chat.chat_members">
    {{ member.auction_participant.company_alias }}
  </p>
</div>
</ng-container>
