.chat-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  .left-column {
    width: 50%;
  }
  .right-column {
    width: 50%;
  }

  img {
    padding: 16px;
  }
}

.chat-details-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 98%;
  margin-left: 1%;
  margin-right: 1%;

  .finished {
    align-self: center;
    color: red;
    font-weight: bold;
  }
}
