.auction-page-container {
  max-width: 100%;
  padding-bottom: 20px;

  .tab-header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;

    .create {
      margin-left: 10px;

    }
    .search {
      margin-left: 10px;
    }
  }
}
