<div class="auction-page-container">
      <div class="tab-header">
        <mat-card-actions class="create">
          <button mat-button (click)="createNewAuction()">
            Create new auction
          </button>
          <app-search-component
            (searchValueChange)="onSearch($event)"
            class="search"></app-search-component>
        </mat-card-actions>
      </div>
      <auction-card-list
        (auctionChanged)="initValues()"
        [auctions]="allAuction$ | async">
      </auction-card-list>
</div>
